<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Login Test Suite" verbose="2">
    
    <test name="Login Tests">
        <classes>
            <class name="com.qa.ta.LoginTest">
                <methods>
                    <include name="testSuccessfulLogin" />
                    <include name="testInvalidCredentials" />
                    <include name="testEmptyCredentials" />
                </methods>
            </class>
        </classes>
    </test>

</suite>
